.article-weather-sti {
  height: 294px;
  width: 100vw;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  color: #545050;
  text-transform: capitalize;
  background: #fff4e4;
  box-shadow: 5px 0 5px #735022;
}

.article-weather-sti .header-current-weather {
  width: inherit;
}

.article-weather-sti .title-current-weather {
  margin-left: var(--spacing-title-home);
}

.article-weather-sti .button-close-sti {
  margin-right: var(--spacing-input-sides);
}
/*
.article-today-sti {
  height: 80px;
  margin-top: 12px;
  box-sizing: border-box;
}
/*
.current-weather-sti {
  width: 284px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 18px;

}

.current-weather-sti svg {
  margin-left: -5px;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.div-first-line {
  width: 100%;
}

.extra-info-sti {
  text-align: left;
  font-weight: 300;
}

.bold {
  font-weight: 600;
}

.div-first-line .extra-info-sti{
  flex: 1;  
}

.paragraph-degree-sti {
  font-weight: 700;
}

.icon-degree-sti {
  width: 60px;
}

.m-right {
  margin-right: 10px;
}

.wider-div {
  width: 130px;
}
*/
@media (min-width: 500px) {
  
  .article-weather-sti .title-current-weather {
    margin-left: 38px;
    font-size: 16px;
  }
  
  .current-weather-sti {
    width: 100%;
    padding-left: 34px;
    box-sizing: border-box;
    
  }

  .degree-condition {
    background-color: aquamarine;
    width: 90%;
    justify-content: space-between;
  }
  
  .today-weather-sti {
    font-size: 32px;
  }
/*
  parcialmente 
*/
}