.article-weather {
  width: 100vw;
  padding-top: var(--spacing-smallest);
  padding-bottom: var(--spacing-smallest);
  box-sizing: border-box;
  color: var(--color-third);
  text-transform: capitalize;
  background: #fff4e4;
  box-shadow: 0px 5px 4px 1px rgba(0, 0, 0, 0.2),
    inset 0px 5px 5px 1px rgba(0, 0, 0, 0.2);
}

.article-weather .header-current-weather {
  width: 100%;
  margin-top: var(--spacing-smallest);
}

.article-weather .title-current-weather {
  margin-left: var(--spacing-title-home);
}

.article-weather .button-close {
  margin-right: var(--spacing-input-sides);
}

.article-weather .wather-degree-condition {
  margin-top: 24px;
}

.article-weather .next-days {
  margin-top: var(--spacing-small);
}

@media (min-width: 500px) {
  .article-weather {
    min-width: 500px;
    max-width: min-content;
    margin: 0 auto;
    margin-top: var(--spacing-big);
    box-shadow: 5px 0 5px #735022;
  }

  .article-weather .header-current-weather {
    height: 50px;
    margin-top: 0px;
  }

  .article-weather .wather-degree-condition {
    margin-top: var(--spacing-smaller);
  }

  .article-weather .next-days {
    margin-top: 24px;
  }
}
