.header-current-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-current-weather {
  font-size: var(--size-small);
  font-weight: 700;
}

.button-close {
  border: none;
  background: none;
  outline: none;
}

.button-close:hover {
  cursor: pointer;
}

.button-close > svg {
  color: var(--color-second);
}
