.header-current-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-current-weather {
  font-size: var(--size-small);
  font-weight: 700;
}

.button-close-sti {
  border: none;
  background: none;
}

.button-close-sti > svg {
  color: var(--color-second);
}