.form-city {
  height: 44px;
  margin-top: var(--spacing-input-top-bottom);
}

.form-city.-smaller {
  margin-top: var(--spacing-small);
  margin-bottom: var(--spacing-small);
}

.form-city .container-input {
  width: 90%;
  height: inherit;
  background-color: var(--color-first);
  margin: 0 auto;
  text-align: justify;
  position: relative;
  box-sizing: border-box;
  border: var(--color-second) 1px solid;
}

.form-city .container-input .input-text {
  width: 92%;
  height: 100%;
  padding: 0;
  border: 0;
  padding: 0 22px;
  box-sizing: border-box;
  font-weight: 200;
}

.form-city .button-submit {
  width: auto;
  height: 100%;
  position: absolute;
  right: 0px;
  overflow: visible;
  color: var(--color-third);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

@media (min-width: 500px) {
  .form-city .container-input {
    width: 500px;
  }
}

@media (min-width: 600px) {
  .form-city {
    margin-top: 66px;
    height: 60px;
  }

  .form-city .button-submit {
    right: 5px;
  }
}
