.header-sti {
  height: 120px;
  padding-left: var(--spacing-title-home);
  margin-top: var(--spacing-title-home);
}

.header-sti .title-sti {
  width: 250px;
}

.header-sti-smaller {
  height: 50px;
  font-size: 20px;
}

.header-sti-smaller h1 {
  font-size: 24px;
  padding-left: 30px;
  line-height: 34px;
}

@media (min-width: 500px) {
  
  .header-sti .title-sti {
    width: 300px
  }
  
}

@media (min-width: 600px) {

  .header-sti {
    height: 180px;
    padding-top: 40px;
  }

  .header-sti .title-sti {
   width: 570px;
  }

}