.header-sti {
  height: 210px;
  width: 100%;
  padding-top: 14px;
  padding-left: 38px;
  text-align: justify;
  box-sizing: border-box;
}

.header-sti .title-sti {
  width: 250px;
  margin-top: 18px;
}

.header-sti-smaller {
  height: 50px;
  font-size: 20px;
}

.header-sti-smaller h1 {
  font-size: 24px;
  padding-left: 30px;
  line-height: 34px;
}

@media (min-width: 361px) {
  
  .header-sti {
    /* text-align: center; */
    /* height: 225px; */
    /* padding-top: 85px; */
  }  

  .header-sti .title-sti {
    /* font-size: var(--size-biggest); */
    /* width: 100%; */
  }
}