.header-sti {
  height: 200px;
  padding-top: 20px;
  padding-left: 45px;
  text-align: justify;
  background-color: black;
  box-sizing: border-box;
}

.header-sti .title-sti {
  width: 220px;
}

@media (min-width: 340px) {
  
  .header-sti {
    text-align: center;
    height: 225px;
    padding-top: 85px;
  }  

  .header-sti .title-sti {
    font-size: var(--size-biggest);
    width: 100%;
    line-height: normal;
  }
  
}