.section-search-sti {
  height: 100px;
  text-align: center;
  position: relative;
}

.section-search-sti .input-text-tsi {
  border: #e97e00 1px solid;
  margin-top: 15px;
  width: 400px;
  height: 50px;
  padding-left: var(--spacing-mid);
  box-sizing: border-box;
}

.section-search-sti .input-text-tsi::placeholder {
  color: #737373;
  font-weight: 300;
  font-family: 'Noto Sans JP', serif;
  font-size: var(--size-mid); 
}

.section-search-sti .input-text-tsi:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.section-search-sti .search-icon-sti {
  position: absolute;
  right: 2px;
}

