.input-text-sti {
  border: hsl(32, 100%, 46%) 1px solid;
  /* border: red 0.5px solid; */
  font-size: 15px;
  font-weight: 100;
}

.input-text-sti:focus {
  outline: none;
  /* box-shadow: 15px 5px 50px rgba(59, 32, 1, 0.329); */
}