.next-days {
  height: 90px;
  border-top: var(--color-second) 1px solid;
  justify-content: space-around;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  text-align: center;
}

.next-day {
  font-size: var(--size-small);
  font-weight: 900;
  line-height: 30px;
}

.next-day p {
  color: var(--color-second);
}

.last {
  text-align: left;
}

@media (min-width: 500px) {
  .next-days {
    width: 90%;
    height: 80px;
    margin: 0 auto;
  }

  .next-day {
    font-size: var(--size-mid);
  }
}

@media (max-width: 260px) {
  .next-days {
    display: none;
  }
}
