.title-sti {
  font-size: 48px;
  color: var(--color-first);
  line-height: 66px;
  letter-spacing: 0.02em;
  font-weight: 600;
}

@media (min-width: 361px) {
  .title-sti {
    /* font-size: 52px;  */
    color: brown;
  }
}

@media (min-width: 410px) {
  .title-sti {
    /* font-size: 58px;  */
    color: aqua;
  }
}