.title-sti {
  font-size: 48px;
  color: var(--color-first);
  line-height: 66px;
  letter-spacing: 0.02em;
  font-weight: 600;
}

@media (min-width: 500px) {
  .title-sti {
    font-size: 56px;
  }
}