.title-sti {
  font-size: var(--size-bigger);
  color: var(--color-first);
  line-height: 66px;
  letter-spacing: 0.02em;
  font-weight: 600;
  box-sizing: border-box;
}

.title-sti.-smaller {
  font-size: var(--size-big);
  padding-left: var(--spacing-big);
}

@media (min-width: 500px) {

  .title-sti {
    font-size: 56px;
  }

}


@media (min-width: 600px) {

  .title-sti {
    font-size: 60px;
  }

}