html, body {
  height: 100vh; 
  width: 100vw;
  background: linear-gradient(to bottom, #ff7f00, #ff8f00, #ff9e00, #ffad00, #ffbb00);
  /* I need to read about it -- background-attachment: fixed; */
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
}

/* this root cannot be here, it has to be in the index.css of the /components/index.js */
/*#root {
  height: 100vh;
  
}*/