body {
  height: 100vh;
  background: linear-gradient(to bottom, rgb(247,150,33) 0%,rgb(249,198,103) 100%);
}
/*this root cannot be here, it has to be in the index.css of the /components/index.js*/
#root {
  height: inherit;
}