.weather-extra-info {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: 40px;
  column-gap: 5%;
  row-gap: 10px;
  align-items: center;
}

.wrapper-degree-condition-flex {
  display: flex;
  margin-left: -5px;
}

.extra-info-sti {
  font-size: 16px;
  font-weight: 300;
}

.extra-info-sti .bold {
  font-weight: 600;
  text-transform: initial;
}

@media (min-width: 500px) {

  .weather-extra-info {
    height: 80px;
  }

  .extra-info-sti {
    font-size: 18px;
  }

}