.wrapper-degree-condition-flex {
  width: 110px;
  display: flex;
  margin-left: -5px;
  justify-content: space-between;
}

.extra-info {
  font-size: var(--size-small);
  font-weight: 300;
}

.extra-info .bold {
  font-weight: 600;
  text-transform: initial;
}

@media (min-width: 500px) {
  .weather-extra-info {
    height: 80px;
  }

  .wrapper-degree-condition-flex {
    width: 120px;
  }

  .extra-info {
    font-size: var(--size-mid);
  }
}
