.header {
  height: 120px;
  padding-left: var(--spacing-title-home);
  margin-top: var(--spacing-title-home);
  box-sizing: border-box;
}

.header .title {
  width: 250px;
}

.header.-smaller {
  height: 60px;
  font-size: var(--size-mid-big);
  padding-left: 0;
  margin: 0 auto;
}

.header.-smaller .title {
  width: 100%;
}

@media (min-width: 500px) {
  
  .header {
    text-align: left;
  }
  
  .header.-smaller {
    width: 500px;
    font-size: var(--size-biggest);
    text-align: center;
    margin-top:  10px;
  }

  .header .title {
    width: 300px;
  }

  .header.-smaller .title {
    width: 500px;
    font-size: var(--size-bigger);
    padding: 0;
  }
  
}

@media (min-width: 600px) {

  .header {
    padding-top: 46px;
  }

  .header.-smaller {
    padding-top: 6px;
  }

  .header .title {
   width: 580px;
   margin: 0 auto;
  }

}