.wather-degree-condition {
  width: 80%;
  margin: 0 auto;
  align-items: center;
  height: auto;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 120px auto;
  grid-template-rows: minmax(max-content, 40px) 20px 20px;
  grid-template-areas:
    "degree degree "
    "minmax feels"
    "wind humidity";
}

.wather-degree-condition .today-weather {
  grid-area: degree;
}

.wather-degree-condition .today-weather.-condition {
  grid-area: condition;
}

.wrapper-min-max {
  display: flex;
  justify-content: space-between;
  grid-area: minmax;
  word-spacing: 10px;
  width: 100px;
}

.wather-degree-condition .bold {
  font-weight: 900;
  text-transform: initial;
}

.wather-degree-condition .feels-like {
  grid-area: feels;
}

.wather-degree-condition .wind {
  grid-area: wind;
  margin-left: 5px;
}

.wather-degree-condition .humidity {
  grid-area: humidity;
}
