.form-city-sti {
  height: 44px;
  margin-top: var(--spacing-input-top-bottom);
}

.form-city-sti.-smaller {
  margin-top: var(--spacing-input-sides);
  margin-bottom: var(--spacing-input-sides);
}

.form-city-sti .container-input {
  width: 90%;
  height: inherit;
  background-color: var(--color-first);
  margin: 0 auto;
  text-align: justify;
  position: relative;
  box-sizing: border-box;
  border: #e07a06 1px solid;
}

.form-city-sti .container-input .input-text-sti {
  width: 92%;
  height: 100%;
  padding: 0;
  border: 0;
  padding: 0 22px;
  box-sizing: border-box;
  font-weight: 200; 
}

.form-city-sti .button-submit-sti {
  width: 10%;
  height: 100%;
  position: absolute;
  right: 18px;
  color: #535353;
}

@media (min-width: 500px) {
  
  .form-city-sti .container-input {
    width: 500px;
  }
}

@media (min-width: 600px) {
  
  .form-city-sti {
    margin-top: 66px;
    height: 60px;
  }
  
  .form-city-sti .button-submit-sti {
    right: 5px;
  }

}