.form-city-sti {
  height: 200px;
  display: flex;
  justify-content: center;
}

.form-city-sti .container-input {
  width: 380px;
  height: 50px;
  position: relative;
}

.form-city-sti .input-text-sti {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}

.form-city-sti .input-text-sti::placeholder {
  font-size: var(--size-mid);
  opacity: 1;
}

.form-city-sti .button-submit-sti {
  position: absolute;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  right: var(--spacing-smaller);
}