.form-city-sti {
  height: 60px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.form-city-sti .container-input {
  width: 490px;
  height: 100%;
  position: relative;
}

.form-city-sti .input-text-sti {
  width: 100%;
  height: 100%;
  color: #737373;
  box-sizing: border-box;
  font-weight: 100;
  font-family: 'Noto Sans JP', serif;
  font-size: var(--size-mid-big);
  transition: .25s ease-in-out;
  padding-left: var(--spacing-mid);
}

.form-city-sti .button-submit-sti {
  position: absolute;
  height: 50px;
  top: 50%;
  right: var(--spacing-smaller);
  transform: translateY(-50%);
}