.icon-degree-sti {
  display: flex;
  align-items: center;
}
.icon-degree-sti svg {
  color: var(--color-second);
}

@media (min-width: 500px) {
  
  .icon-degree-sti > p {
    font-size: var(--size-mid);
  }

}