.icon-degree {
  display: flex;
  align-items: center;
}

.icon-degree > p {
  font-weight: 900;
  font-size: 16px;
}

.icon-degree svg {
  color: var(--color-second);
}

@media (min-width: 500px) {
  .icon-degree > p {
    font-size: var(--size-mid);
    font-size: 16px;
  }
}
