.today-weather {
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  word-spacing: 20px;
}

@media (min-width: 500px) {
  .today-weather {
    word-spacing: 10px;
    font-size: 40px;
  }
}
