.table-sti {
  line-height: 43px;
}

.table-sti td {
  padding-right: var(--spacing-small);
}

.table-sti .thead-sti {
  font-weight: 100;
  font-size: var(--size-smallest);
  color: var(--color-fourth);
  text-align: left;
  line-height: 20px;
}

.table-sti .tbody-tsi {
  font-size: var(--size-small); 
  font-weight: 700;
}

@media (min-width: 600px) {
  
  .table-sti  {
    display: inline-block;
    width: 220px;
    text-align: left;
  }
  
}
