.section-cities-sti {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-mid);
}

.section-cities-sti .container {
  width: 450px;
  height: 250px;
  display: grid;
  grid-template-rows: 35px var(--size-small) repeat(4, 1fr);
  grid-template-columns: 1fr 1fr;
  gap: 15px var(--spacing-biggest);
  position: relative;
}

.section-cities-sti .subtitle-sti {
  grid-column: span 2;
}

.section-cities-sti .list-sti {
  font-weight: 700;
}

.label {
  font-weight: 100;
  font-size: var(--size-smallest);
  color: #585753eb;
}

.section-cities-sti .list-sti .degree-li-sti {
  display: inline-block;
  width: 20px;
  padding-right: var(--spacing-mid);
}
