.section-cities-sti {
  width: 100%;
  border-top: var(--color-first) 1px solid;
  margin-top: var(--spacing-input-top-bottom);
  padding-left: var(--spacing-title-home);
  padding-top: var(--spacing-sub-top-table-row); 
  box-sizing: border-box;
}

.-smaller {
  margin-top: 20px;
}