.section-cities-sti {
  width: 100%;
  border-top: var(--color-first) 1px solid;
  margin-top: var(--spacing-input-top-bottom);
  padding-left: var(--spacing-title-home);
  padding-top: var(--spacing-mid-big);
  box-sizing: border-box;
}

.section-cities-sti.-smaller {
  margin-top: 15px;
}

.section-cities-sti > div {
  margin-top: 10px;
}

.section-cities-sti table:last-child thead{
  display: none;
}

@media (min-width: 500px) {
  
  .section-cities-sti.-smaller {
    margin: 0 auto;
    padding-left: 80px;
    margin-top: 15px;
  }

}

@media (min-width: 600px) {

  .section-cities-sti {
    width: 590px;
    margin: 0 auto;
    padding-left: 0;
    margin-top: var(--spacing-input-top-bottom);
  }

  .section-cities-sti.-smaller {
    margin-top: 35px;
  }

  .section-cities-sti.-smaller {
    padding-left: 0px;
  }

  .section-cities-sti .subtitle-sti {
    width: 420px;
    text-align: left;
    margin: 0 auto;
  }

  .section-cities-sti > div {
    width: 460px;
    margin-left: 90px;
    display: flex;
    justify-content: space-between;
  }
  
  .section-cities-sti table:last-child thead{
    display: table-header-group;
  }
  
}